html, body, #container {
  min-height: 100%;
  font-family: Verdana, sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
}

header {
  z-index: 1;
  overflow: hidden;
  width: 100%;
  background-color: #2E2E2E;
  padding: 15px;
  position: fixed;
  opacity: .7;
  &:hover {
    opacity: 1;
  }

  top: 0;
  .topTitle {
    color: grey;
    float: left;

    h1 {
      font-size: 20px;
      line-height: 1;
      margin: 0;
      display: block;
    }
    h2 {
      font-size: 10px;
      line-height: 1;
      margin: 0;
      display: block;
    }
  }
  .topNav {
    background-color: black;
    float: right;
    font-size: 10px;
    padding: 10px 10px;
    a {
      color: grey;
      text-decoration: none;
      font-size: 15px;
      padding-right: 10px;
      &:last-child {
        padding-right: 0;

      }
    }
  }
}

.placeholder {
  background-color: #2E2E2E;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  .size {
    color: white;
  }
}

#container {
  //background-color: green;
  overflow: hidden;
  margin-top: 70px;
  .placeholder.heroImg {
    max-width: 960px;
    height: 360px;
    margin-top: 15px;
    span {
      color: white;
      font-size: 20px;
      display: block;
      margin-top: 170px;
    }
  }

  .info {
    margin-top: 30px;
    overflow: hidden;
    padding: 20px 0;
    border-bottom: 1px solid darkgrey;
    //margin-bottom: 30px;
    .post {
      .postHeader {
        overflow: hidden;
        display: flex;
        align-items: center;
      }
      .thumbnail {
        width: 32px;
        height: 32px;
        background-color: #2E2E2E;
        margin-bottom: 0;
        border: none;

        .size {
          color: white;
          font-size: 8px;
          text-align: center;
          display: block;
        }
      }
      h3 {
        display: block;
        font-size: 15px;
        margin: 0;
        font-weight: bold;
        margin-left: 10px;
      }
      .postContent {
        margin-top: 5px;
        a {
          float: right;
          color: orange;
          &:after {
            content: " \00BB";

          }
        }
      }
    }
  }
  .poster {
    border-bottom: 1px solid darkgrey;
    overflow: hidden;

    .img-thumbnail {
      display: block;
      margin-top: 15px;
      margin-bottom: 15px;
    }
    .placeholder {
      height: 180px;

      .size {
        margin-top: 90px;
        font-size: 15px;
        display: block;
      }
    }
  }
}

section {
  overflow: hidden;
  margin-top: 15px;
  margin-bottom: 15px;
  .articles {
    overflow: hidden;
    .first {
      margin-bottom: 15px;
    }
    article {
      overflow: hidden;

      //margin-top: 15px;
      //margin-bottom: 15px;
      .img-thumbnail {
        float: left;

        .placeholder {
          height: 150px;
          width: 180px;
          .size {
            margin-top: 70px;
            display: block;
          }
        }
      }
      .text {
        margin-left: 200px;

      }
    }
  }
  .categories {
    .categoriesTitle {
      p {
        border-bottom: 1px dashed darkgray;
        i{
          font-size: 6px;
          position: relative;
          top:-3px;
          color: orange;

        }
        a {
          color: darkgray;
          &:hover{
            color: orange;
          }
        }
      }
    }
  }

  h2, h3 {
    margin: 0 0 15px 0;
  }

  h2 {
    border-bottom: 1px solid darkgray;
    padding-bottom: 15px;
  }

}

p, h2, h3 {
  color: darkgray;
}

.readMore {
  text-align: right;
  a {
    &:after {
      content: " \00BB";

    }
  }
}

a {
  color: orange;
  &:hover {
    color: orange;
    text-decoration: underline;
  }
}

footer{
  background-color: #2E2E2E;
  width: 100%;
  padding: 25px 20px;
  p {
    font-size: 12px;
    font-weight: 100;
    color: #666666;
    display: inline-block;
  }
  .templates{
    float: right;
  }
}