html, body, #container {
  min-height: 100%;
  font-family: Verdana, sans-serif; }

* {
  box-sizing: border-box; }

body {
  height: 100%;
  margin: 0; }

header {
  z-index: 1;
  overflow: hidden;
  width: 100%;
  background-color: #2E2E2E;
  padding: 15px;
  position: fixed;
  opacity: .9;
  top: 0; }
  header:hover {
    opacity: 1; }
  header .topTitle {
    color: grey;
    float: left; }
    header .topTitle h1 {
      font-size: 20px;
      line-height: 1;
      margin: 0;
      display: block; }
    header .topTitle h2 {
      font-size: 10px;
      line-height: 1;
      margin: 0;
      display: block; }
  header .topNav {
    background-color: black;
    float: right;
    font-size: 10px;
    padding: 10px 10px; }
    @media (max-width: 767px) {
      header .topNav {
        display: none; } }
    header .topNav a {
      color: grey;
      text-decoration: none;
      font-size: 15px;
      padding-right: 10px; }
      header .topNav a:last-child {
        padding-right: 0; }

.placeholder {
  background-color: #2E2E2E;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden; }
  .placeholder .size {
    color: white; }

#container {
  overflow: hidden;
  margin-top: 70px; }
  #container .placeholder.heroImg {
    max-width: 960px;
    height: 360px;
    margin-top: 15px; }
    #container .placeholder.heroImg span {
      color: white;
      font-size: 20px;
      display: block;
      margin-top: 170px; }
  #container .info {
    margin-top: 30px;
    overflow: hidden;
    padding: 20px 0;
    border-bottom: 1px solid darkgrey; }
    @media (max-width: 767px) {
      #container .info {
        margin-top: 0; } }
    #container .info .post .postHeader {
      overflow: hidden;
      display: flex;
      align-items: center; }
    #container .info .post .thumbnail {
      width: 32px;
      height: 32px;
      background-color: #2E2E2E;
      margin-bottom: 0;
      border: none; }
      #container .info .post .thumbnail .size {
        color: white;
        font-size: 8px;
        text-align: center;
        display: block; }
    #container .info .post h3 {
      display: block;
      font-size: 15px;
      margin: 0;
      font-weight: bold;
      margin-left: 10px; }
    #container .info .post .postContent {
      margin-top: 5px; }
      @media (max-width: 767px) {
        #container .info .post .postContent p {
          text-align: justify; } }
      #container .info .post .postContent a {
        text-align: right;
        display: block;
        color: orange; }
        #container .info .post .postContent a:after {
          content: " \00BB"; }
  #container .poster {
    border-bottom: 1px solid darkgrey;
    overflow: hidden; }
    #container .poster .img-thumbnail {
      display: block;
      margin-top: 15px;
      margin-bottom: 15px; }
    #container .poster .placeholder {
      height: 180px; }
      @media (max-width: 767px) {
        #container .poster .placeholder {
          display: block;
          margin: auto;
          float: none; } }
      #container .poster .placeholder .size {
        margin-top: 90px;
        font-size: 15px;
        display: block; }

section {
  overflow: hidden;
  margin-top: 15px;
  margin-bottom: 15px; }
  section .articles {
    overflow: hidden; }
    section .articles .first {
      margin-bottom: 15px; }
    section .articles article {
      overflow: hidden; }
      section .articles article .img-thumbnail {
        float: left; }
        @media (max-width: 767px) {
          section .articles article .img-thumbnail {
            width: 190px;
            margin: auto;
            float: none;
            display: block; } }
        @media (min-width: 768px) and (max-width: 991px) {
          section .articles article .img-thumbnail {
            margin-right: 15px; } }
        section .articles article .img-thumbnail .placeholder {
          height: 150px;
          width: 180px; }
          section .articles article .img-thumbnail .placeholder .size {
            margin-top: 70px;
            display: block; }
      section .articles article .text {
        margin-left: 200px; }
        @media (max-width: 768px) {
          section .articles article .text {
            margin-left: 0; } }
        @media (max-width: 768px) {
          section .articles article .text h3 {
            margin: 15px 0 15px 0;
            text-align: center; } }
  @media (min-width: 768px) and (max-width: 991px) {
    section .categories {
      margin-top: 15px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    section .categories h2 {
      text-align: center; } }
  section .categories .categoriesTitle p {
    border-bottom: 1px dashed darkgray; }
    section .categories .categoriesTitle p i {
      font-size: 6px;
      position: relative;
      top: -3px;
      color: orange; }
    section .categories .categoriesTitle p a {
      color: darkgray; }
      section .categories .categoriesTitle p a:hover {
        color: orange; }
  section h2, section h3 {
    margin: 0 0 15px 0; }
  section h2 {
    border-bottom: 1px solid darkgray;
    padding-bottom: 15px; }

p, h2, h3 {
  color: darkgray; }

.readMore {
  text-align: right; }
  .readMore a {
    text-align: right; }
    .readMore a:after {
      content: " \00BB"; }

a {
  color: orange; }
  a:hover {
    color: orange;
    text-decoration: underline; }

footer {
  background-color: #2E2E2E;
  width: 100%; }
  footer p {
    font-size: 12px;
    font-weight: 100;
    color: #666666;
    display: inline-block; }
    @media (max-width: 767px) {
      footer p {
        text-align: center;
        font-size: 10px;
        display: block;
        padding: 0;
        margin: 0; } }
  footer .templates {
    float: right; }
    @media (max-width: 767px) {
      footer .templates {
        text-align: center;
        font-size: 10px;
        display: block;
        padding: 0;
        margin: 0; } }

/*# sourceMappingURL=style.css.map */
